<!DOCTYPE html>
<html>
<head>
<title>FIFA19 Position Prediction</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>

    <h1>FIFA19 Position Prediction</h1>
    <p> Please fill in player's attributes:</p>

<form action="/result" method="POST">

    <label>Age</label>
    <input type="text" name="age" value="18"><br>
    <label>Overall</label>
    <input type="text" name="overall" value="60"><br>
    <label>Height</label>
    <input type="text" name="height" value ="175"><br>
    <label>Weight</label>
    <input type="text" name="weight" value ="70"><br>
    <label>Crossing</label>
    <input type="text" name="Crossing" value="50"><br>
    <label>Finishing</label>
    <input type="text" name="Finishing" value="50"><br>
    <label>HeadingAccuracy</label>
    <input type="text" name="HeadingAccuracy" value="50"><br>
    <label>ShortPassing</label>
    <input type="text" name="ShortPassing" value="50"><br>
    <label>Volleys</label>
    <input type="text" name="Volleys" value="50"><br>
    <label>Dribbling</label>
    <input type="text" name="Dribbling" value="50"><br>
    <label>Curve</label>
    <input type="text" name="Curve" value="50"><br>
    <label>FKAccuracy</label>
    <input type="text" name="FKAccuracy" value="50"><br>
    <label>LongPassing</label>
    <input type="text" name="LongPassing" value="50"><br>
    <label>BallControl</label>
    <input type="text" name="BallControl" value="50"><br>
    <label>Acceleration</label>
    <input type="text" name="Acceleration" value="50"><br>
    <label>SprintSpeed</label>
    <input type="text" name="SprintSpeed" value="50"><br>
    <label>Agility</label>
    <input type="text" name="Agility" value="50"><br>
    <label>Reactions</label>
    <input type="text" name="Reactions" value="50"><br>
    <label>Balance</label>
    <input type="text" name="Balance" value="50"><br>
    <label>ShotPower</label>
    <input type="text" name="ShotPower" value="50"><br>
    <label>Jumping</label>
    <input type="text" name="Jumping" value="50"><br>
    <label>Stamina</label>
    <input type="text" name="Stamina" value="50"><br>
    <label>Strength</label>
    <input type="text" name="Strength" value="50"><br>
    <label>LongShots</label>
    <input type="text" name="LongShots" value="50"><br>
    <label>Aggression</label>
    <input type="text" name="Aggression" value="50"><br>
    <label>Interceptions</label>
    <input type="text" name="Interceptions" value="50"><br>
    <label>Positioning</label>
    <input type="text" name="Positioning" value="50"><br>
    <label>Vision</label>
    <input type="text" name="Vision" value="50"><br>
    <label>Penalties</label>
    <input type="text" name="Penalties" value="50"><br>
    <label>Composure</label>
    <input type="text" name="Composure" value="50"><br>
    <label>Marking</label>
    <input type="text" name="Marking" value="50"><br>
    <label>StandingTackle</label>
    <input type="text" name="StandingTackle" value="50"><br>
    <label>SlidingTackle</label>
    <input type="text" name="SlidingTackle" value="50"><br>
    <label>GKDiving</label>
    <input type="text" name="GKDiving" value="0"><br>
    <label>GKHandling</label>
    <input type="text" name="GKHandling" value="0"><br>
    <label>GKKicking</label>
    <input type="text" name="GKKicking" value="0"><br>
    <label>GKPositioning</label>
    <input type="text" name="GKPositioning" value="0"><br>
    <label>GKReflexes</label>
    <input type="text" name="GKReflexes" value="0"><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>
